@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@keyframes float-b {
    0% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 5px);
    }
}
@keyframes float-a {
    50% {
        transform: translate(0px, 5px);
    }
}
.titulo1 {
    font-family: "cabin sketch";
    color: #008ad1;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.titulo2 {
     font-family: "Finger Paint";
     text-align: center;
     color: #89b730;
     font-size: 24px;
     font-weight: 400;
     line-height: 24px;
 }
.titulo3 {
    color: #f68a26;
    font-family: "Chewy";
    font-size: 50px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo4 {
    font-family:"Finger Paint";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tituloform {
    font-family: "finger paint";
    font-size: 16px;
    color: #008ad1;
    font-weight: 400;
    line-height: 24px;
}
.errorform{
    color: orangered;
    font-family: "finger paint";

}
.btn-cf-submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #008ad1;
    border-radius: 10px;
    color: #008ad1;
    font-family: "Finger Paint";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.btn-cf-submit:hover {
    background: #008ad1 none repeat scroll 0 0;
    color: #fff;
}
.footer {
    background: #000 none repeat scroll 0 0;
    padding-bottom: 80px;
    padding-top: 90px;
    position: relative;
    color: #999999;
    text-align: center;
}
.bg-im {
    /*background: url("http://localhost:8080/tesis/public/images/fondo.jpg") no-repeat center center fixed;*/
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    padding-top: 20px;
    padding-bottom: 100px;
}
.bubble{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    overflow: visible;
}
.bubble.datm {
    animation: 1.8s ease-in-out 0s normal none infinite running float-b;
}
.bubble a:hover{
    opacity: 1;
    transform: scale(1.1);
}
.bubble.datm a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%231b6a81%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.bubble a::after {
    bottom: -18px;
    content: "";
    display: block;
    height: 20px;
    margin: 0 20px;
    position: absolute;
    width: 30px;
}
.bubble.datm a {
    background: #1b6a81 none repeat scroll 0 0;
    width: 220px;
    margin-left: 60px;
}
.bubble a {
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transform: translateZ(0px);
    transition: transform 0.2s ease 0s;
    margin-right: 20px;
}
.bubble h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
}
.bubble a h3 {
    line-height: 20px;
    color: white;
    font-family: "finger paint";
}
.bubble a h2{
    color: white;
    font-family: "finger paint";
}
.bubble.rosado {
    animation: 1.5s ease-in-out 0s normal none infinite running float-a;
}
.bubble.rosado a {
    background: #dc557a none repeat scroll 0 0;
    width: 180px;
}
.bubble.rosado a::after {
    left: 0;
    right: auto;
    transform: scaleX(1);
}
.bubble.rosado a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%23dc557a%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: 0;
    right: auto;
    transform: none;
}
a:link, a:visited {
    color: inherit;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
}
.sesion a{
    color: #008AD1;
    olor: inherit;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
    font-size: medium;
}
.sesion p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
