@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@keyframes float-b {
    0% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 5px);
    }
}
@keyframes float-a {
    50% {
        transform: translate(0px, 5px);
    }
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("http://fonts.gstatic.com/s/raleway/v10/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico Regular"), local("Pacifico-Regular"), url("http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.featurette-divider {
    margin: 80px 0;
}
.featurette-heading {
    font-size:40px;
    letter-spacing: -1px;
    line-height: 1;
    color:white;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
.lead{
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}
/**
css vida sana
**/
.texto-modal{
    font-family: "montserrat";
    font-size: 15px;
    color: rgb(73,80,82);
}
.texto-modal-titulo{
    text-transform: uppercase;
    color: black;
    font-family: "montserrat";
}
.glyfy{
    color: #673AB7;
    font-size: 35px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
#section1 {padding-bottom:50px;color: #fff; background-color: #6FC191;}
#section2 {padding-bottom:50px;color: #fff; background-color: #673ab7;}
#section3 {padding-bottom:50px;color: #fff; background-color: #74CEE4;}
#section4 {padding-bottom:50px;color: #fff; background-color: #EDBF47;}
#section41 {padding-bottom:50px;color: #fff; background-color: #EC774B;}
#section42 {padding-bottom:50px;color: #fff; background-color: #009688;}
#tipsaludable{padding-bottom:50px;color: #fff; background-color: #297FB8;}
/*fin css vida sana*/

/**
css cuenta
**/
.fondoavatar{
    background-color: #297FB8;
}
.fondocoins{
    height: 120px;
    width: 120px;
}
.avatar{
    cursor: pointer;
}
.frutacuenta{
    background-color: #82C250;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.cerealcuenta{
    background-color: #EDBF47;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.alimentocuenta{
    background-color: #EDBF47;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.acgrasacuenta{
    background-color: #E16C6C;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.deportecuenta{
    background-color: #74CEE4;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.noticiacuenta{
    background-color: #EC774B;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.desafiocuenta{
    background-color: #F7CA18;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}
.diplomacuenta{
    background-color: #1abc9c;margin: 20px;border-radius: 10%;padding-top: 10px;padding-bottom: 10px;
}

.barra{
    margin-top: 5px;
    margin-bottom: 0;
}
.tipmain{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.maintitulo{
    background-color: #297FB8;
    width: 100%;
    height: 90px;
    margin-bottom: 5%;
}
.maintitulo h3{
    font-family: 'finger paint';
    color: white;
    padding: 5%;
    font-size: 20px;
}
#tali{
    font-size: 15px;
}
.btn-cuenta{
    box-shadow: 0 4px 0 0 #5c34a3;
    font-size: 17px;
    padding: 10px 20px;
    background-color: #673AB7;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.btn-cuenta:hover{
    box-shadow: 0 0 0 0 transparent !important;
    margin-bottom: -4px;
    margin-top: 4px;
    color: white;
}
.titulo-fruta{
    font-family: "pacifico";
    color: rgb(69,178,157);
    font-size: 24px;
}
.titulocuenta {
    font-family: "finger paint";
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.cuadradotarjeta1{
    box-shadow: 0 4px 0 0 #EC774B;
    background-color: #EC774B;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.descp-tarjeta{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.titulo-tarjeta{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.cuadradotarjeta2{
     box-shadow: 0 4px 0 0 #74CEE4;
     background-color: #74CEE4;
     border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.cuadradotarjeta3{
    box-shadow: 0 4px 0 0 #EDBF47;
    background-color: #EDBF47;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.cuadradotarjeta4{
    box-shadow: 0 4px 0 0 #EC774B;
    background-color: #EC774B;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.fondoverdura{
    background-color: rgb(69,178,157);
    padding: 5px 5px 5px 5px;
}
.fondofruta{
    background-color: #673AB7;
    padding: 5px 5px 5px 5px;
}
.fondoalimento{
    background-color: #397C4A;
    padding: 5px 5px 5px 5px;
}
.borde:hover{
    box-shadow: 5px 0px 40px #EC774B;
}
.borde{
    box-shadow: 5px 0px 20px #008ad1;
}
/*fin css cuenta*/
/*Barra nav vida sana*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: black;
    background-color: transparent;
}
/**/
.titulo1 {
    font-family: "finger paint";
    color: #008ad1;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.tituloSection {
    font-family: "finger paint";
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.numerocuest {
    font-family: "finger paint";
    color: #008ad1;
    font-size: 24px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.titulo2 {
     font-family: "finger paint";
     color: #89b730;
     font-size: 24px;
     font-weight: 400;
     line-height: 24px;
    padding-bottom: 10px;
 }
.titulopuntaje{
    font-family: "finger paint";
    color: #f68a26;
    font-size: 24px;
}
.puntaje{
    font-size: 30px;
    line-height: 45px;
    padding: 20px;
    box-shadow: 0 4px 0 0 #DF7A00;
    color: #ffffff;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    background-color:#EC774B;
}
.puntaje-seccion{
    font-size: 25px;
    line-height: 45px;
    padding: 20px;
    box-shadow: 0 4px 0 0 #ce9912;
    color: #673AB7;
    width: 50px;
    text-align: center;
    border-radius: 100%;
    background-color:#f0c41b;
    font-family: "finger paint";
}
.titulo3 {
    color: #f68a26;
    font-family: "Chewy";
    font-size: 50px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo4 {
    font-family:"Finger Paint";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
}
.tituloNickLider {
    font-family:"Finger Paint";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #673AB7;
}
.titulo5{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.tituloform {
    font-family: "finger paint";
    font-size: 16px;
    color: #008ad1;
    font-weight: 400;
    line-height: 24px;
}
.titulopiegaleria {
    font-family: "finger paint";
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.errorform{
    color: #E25956;
    font-family: "Montserrat", sans-serif;

}
.okform{
    color: #008ad1;
    font-family: "Montserrat", sans-serif;

}
.btn-cf-submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #008ad1;
    border-radius: 10px;
    color: #008ad1;
    font-family: "Finger Paint";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.btn-cf-submit:hover {
    background: #008ad1 none repeat scroll 0 0;
    color: #fff;
}
.btn-cuest {
    background: #008ad1 none repeat scroll 0 0;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: "Finger Paint";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.btn-cuest:hover {
    color: #fff;
}
.footer {
    background: #34495e none repeat scroll 0 0;
    padding-bottom: 80px;
    padding-top: 90px;
    text-align: center;
}
.footer h4{
    font-family: "finger paint";
    color: white;
    font-size: 30px;
    line-height: 17px;
    text-align: left;

}
.footer p{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.bg-im {
    background: url("http://146.83.216.208/wambo/public/images/paisaje.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    padding-top: 70px;
    padding-bottom: 100px;
}
.bg-im2 {
    background: url("http://146.83.216.208/wambo/public/images/Middle_texture.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 100px;
}
.bg-im3 {
    background: url("http://146.83.216.208/wambo/public/images/aprender.jpg") no-repeat center center fixed;
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/
    background-size: cover;
}
.bg-im4 {
    background: url("http://146.83.216.208/wambo/public/images/education-package-powerpoint-backgrounds.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
}
.bubble{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    overflow: visible;
}
/*.bubble.datm {
    animation: 1.8s ease-in-out 0s normal none infinite running float-b;
}*/
.bubble a:hover{
    opacity: 1;
    transform: scale(1.1);
}
.bubble.datm a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%231b6a81%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.bubble a::after {
    bottom: -18px;
    content: "";
    display: block;
    height: 20px;
    margin: 0 20px;
    position: absolute;
    width: 30px;
}
.bubble.datm a {
    background: #1b6a81 none repeat scroll 0 0;
    width: 220px;
    margin-left: 60px;
}
.bubble a {
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transform: translateZ(0px);
    transition: transform 0.2s ease 0s;
    margin-right: 20px;
}
.bubble h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
}
.bubble a h3 {
    line-height: 20px;
    color: white;
    font-family: "finger paint";
}
.bubble a h2{
    color: white;
    font-family: "finger paint";
}
/*.bubble.rosado {
    animation: 1.5s ease-in-out 0s normal none infinite running float-a;
}
.bubble.bg{
    animation: 1.5s ease-in-out 0s normal none infinite running float-b;
}
.bubble.verde{
    animation: 1.5s ease-in-out 0s normal none infinite running float-a;
}*/
.bubble.verde a{
    background: #397C4A none repeat scroll 0 0;
    width: auto;
}
.bubble.rosado a {
    background: #dc557a none repeat scroll 0 0;
    width: auto;
}
.bubble.verde a::after {
    left: 0;
    right: auto;
    transform: scaleX(1);
}
.bubble.verde a::after {
    background: rgba(0, 0, 0, 0) url("http://localhost:8080/tesis/public/images/indice-verde.png") no-repeat scroll center top;
    left: 0;
    right: auto;
    transform: none;
}
.bubble.rosado a::after {
    left: 0;
    right: auto;
    transform: scaleX(1);
}
.bubble.rosado a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%23dc557a%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: 0;
    right: auto;
    transform: none;
}
a:link, a:visited {
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
}
.sesion a{
    color: #008AD1;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
    font-size: medium;
}
.sesion p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "montserrat";
}
.rotate {
    transition: all 0.5s ease 0s;
}
.rotate:hover {
    transform: rotate(360deg);
}
.zoom:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
}
.form-control{
    font-family: "montserrat";
}
.form-group {
    margin-bottom: 0;
}
.form-control:hover{
    transition: all 0.5s ease 0s;
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
    opacity: 1;
    transform: scale(1.05,1.05);
}
.cuadradosombra{
    /*box-shadow: 0 4px 0 0 #f1f1f1;*/
    background-color: rgba(249,249,249,0.7);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.cuadradosombracuest{
    /*box-shadow: 0 4px 0 0 #f1f1f1;*/
    background-color: rgba(249,249,249,0.5);
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.obligatorio{
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}
/**
css de barra nav
**/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: initial;
    color: inherit;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: inherit;
    border-color: #337ab7;
}
.dropmenu{
    color:white;
    width: auto;
    padding:10px;
    min-width: 300px;
}
.navbar-default .navbar-brand {
    color: #F68A26;
    font-family: "finger paint";
    font-size: 36px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #F68A26;
}
.nav-link-inicio{
    background-color: #74CEE4;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-lider{
    background-color: #6FC191;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-ayuda{
    background-color: #f1c40f;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-registro{
    background-color: #2ecc71;
    font-family: 'finger paint';
    font-size: 16px;
}
.nav-link-certificado{
    background-color: #EDBF47;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-sesion{
    background-color: #3498db;
    font-family: 'finger paint';
    font-size: 16px;
}
.nav-link-acercade{
    background-color: #E16C6C;
    font-family: 'finger paint';
    font-size: 16px;
}
.nav-link-contacto{
    background-color: #EDBF47;
    font-family: 'finger paint';
    font-size: 16px;
}
.nav-link-cuenta{
    background-color: #008AD1;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-desafio{
    background-color: #9b59b6;
    font-family: 'finger paint';
    font-size: 20px;
}
.nav-link-tip{
    background-color: #297FB8;
    font-family: 'finger paint';
    font-size: 20px;
}
.li-nav{
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}
.li-nav:focus, .li-nav:hover {
    opacity: 1;
    /*transform: scale(1.1,1.1);*/
    background-color: #e67e22;
    font-family: 'finger paint';
    color: white;
}
/**
*Cambia color texto de la barra Nav*
*/
.navbar-default .navbar-nav > li{
    margin-left: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav >li > a:focus,.navbar-default .navbar-nav >li > a:hover{
    color: white;
}
.navbar-default {
    background: #673CB4 none repeat scroll 0 0;
    border: medium none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0;
}
.navtrans{
    background-color: transparent;
    position: absolute;
}
#navcolor{
    background: #6ab78a none repeat scroll 0 0;
}
#navcolor-noticia{
    background: #2472a5 none repeat scroll 0 0;
}
.navbar-right {
    margin-right: 0;
}
/**/
/**css de carousel**/
.carousel {
    /*height: 900px;
    /*margin-bottom: 60px;*/
}
@media screen and (max-width: 980px){
    .carousel-caption {
        z-index: 10;
        padding-bottom: 20% !important;
    }
    /*altura del carousel
    .carousel{
        height: 680px !important;
    }
    /*texto del carousel
    .carousel-caption{
        padding-bottom: 200px !important;
    }
    /*slide del carousel
     .item{
        height: 680px !important;
    }*/
}
@media screen and (max-width: 800px){
    .carousel-caption {
        z-index: 10;
        padding-bottom: 10% !important;
    }
    /*altura del carousel
    .carousel{
        height: 680px !important;
    }
    /*texto del carousel
    .carousel-caption{
        padding-bottom: 200px !important;
    }
    /*slide del carousel
     .item{
        height: 680px !important;
    }*/
}
.carousel-caption {
    z-index: 10;
    padding-bottom: 30%;
}
.carousel-caption p{
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: "montserrat";
}
.carousel-caption h1{
    font-family: "montserrat";
}
.cc-text{
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}
.fondo-portada1{
    background-color: rgb(111,193,145);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada2{
    background-color: rgb(116,206,228);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada3{
    background-color: rgb(237,191,71);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada4{
    background-color: rgb(236,119,75);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.titulo-portada{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: "finger paint";
    color: white;
}
.carousel .item {
    background-color: #777;
    /*height: 900px;*/
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    /*left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    margin: auto;
    min-width: 100%;*/
}
@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    opacity: 0.9;
    outline: 0 none;
    text-decoration: none;
}
.carousel-control.left {
    color: #79D9FF;

}
.carousel-control.right {
    left: auto;
    right: 0;
    color: #79D9FF;
}
.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}
@media (max-width: 768px) {
    /*.carousel-caption{padding-bottom: 50px}
    .carousel{height: 350px}
    .carousel-inner >.item >img{height: 350px}
    .carousel-inner >.item{height: 350px}*/
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.btn-primary:hover{
    color: white;
    background-color: #EC774B;
    border-color: #EC774B;
}
/**
Fin Css Carousel
**/

/*
*CSS Galeria

@media screen and (max-width: 768px) {
    .altura{
        height: 180px !important;
    }
}
@media screen and (max-width: 360px) {
    .altura{
        height: 120px !important;
    }
}*/
.altura{
    height: 250px;
}
.img-overlay {
    display: block;
    overflow: hidden;
    position: relative;
}
.img-overlay a .btn-more {
    background: rgba(60, 190, 230, 0.7) none repeat scroll 0 0;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    width: 100%;
    z-index: 2;
}
.img-overlay a:hover .btn-more {
    opacity: 1;
}
.img-overlay a img {
    transition: all 0.3s ease 0s;
}
.img-overlay a:hover img {
    transform: scale(1.2);
}
.img-team a .btn-more {
    border-radius: 50%;
}
.img-team a:hover img {
    transform: scale(1);
}
.img-overlay a .btn-zoom::before, .img-overlay a .btn-link::before {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 16px;
    height: 40px;
    left: 50%;
    line-height: 1;
    margin: -20px 0 0 -20px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-30px);
    transition: all 0.3s ease 0s;
    width: 40px;
    z-index: 3;
}
.img-overlay a .btn-link::before {
    content: "";
}
.img-overlay a:hover .btn-zoom::before, .img-overlay a:hover .btn-link::before {
    transform: translateY(0px);
}
.albums-holder .gallery, .events-holder .event {
    margin-top: 54px;
}
.albums-holder:first-child .gallery, .events-holder:first-child .event {
    margin-top: 0;
}
.gallery h5, .gallery p {
    text-align: center;
}
.gallery p {
    color: #48AADC;
    font-style: italic;
}
.botonfoto{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Fin*/

/*
css para cuestionario cuando se completa
*/
.nicdark_btn.medium {
    font-size: 17px;
    padding: 10px 10px;
}
.nicdark_absolute_left {
    margin-left: 110px;
    margin-top: 20px;
    position: absolute;
}
.nicdark_btn {
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.nicdark_radius {
    border-radius: 5px;
}
.nicdark_bg_greydark {
    background-color: #495052;
}
/*Fin*/
/*
*css recetas
*/
.instruccion-morado{
    box-shadow: 0 4px 0 0 #5d35a5;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color: #673AB7;
    float: right;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-morado{
    border-color: #5d35a5 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.instruccion-naranjo{
    box-shadow: 0 4px 0 0 #dd734b;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color: #EC774B;
    float: left;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-naranjo{
    border-color: #dd734b transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.instruccion-verde{
    box-shadow: 0 4px 0 0 #62B090;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color: #6FC191;
    float: left;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-verde{
    border-color: #62B090 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.instruccion-celeste{
    box-shadow: 0 4px 0 0 #6FC4D9;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color: #74CEE4;
    float: left;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-celeste{
    border-color: #6FC4D9 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.instruccion-rojo{
    box-shadow: 0 4px 0 0 #db5b43;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color:  #EC644B;
    float: left;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-rojo{
    border-color: #db5b43 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.instruccion-azul{
    box-shadow: 0 4px 0 0 #3c7ac9;
    overflow: hidden;
    position: relative;
    width: 100%;
    /*min-width: 300px;*/
    border-radius: 5px;
    background-color:  #4183D7;
    float: left;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.triangulo-azul{
    border-color: #3c7ac9 transparent transparent;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.gris {
    -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */
/*
 opacity: 0.4;
    filter: alpha(opacity=40); 
    background-color: #000;
*/
}
.cuest-gris {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
    /*
     opacity: 0.4;
        filter: alpha(opacity=40);
        background-color: #000;
    */
}
@media screen and (min-width:0\0) { 
    /* Tus estilos CSS para IE9, IE10, IE11  */
    .gris {
        opacity: 0.4;
        filter: alpha(opacity=40); 
        /*background-color: #000;*/
    }
    .cuest-gris {
        opacity: 0.4;
        filter: alpha(opacity=40);
        /*background-color: #000;*/
    }
}
/* Microsoft Edge Browser 13+ - @supports method */

@supports (-ms-ime-align:auto) and (color:unset) {
  .gris {
        opacity: 0.4;
        filter: alpha(opacity=40); 
        /*background-color: #000;*/
    }
    .cuest-gris {
        opacity: 0.4;
        filter: alpha(opacity=40);
        /*background-color: #000;*/
    }
}
/*@media only screen and  (max-width: 768px) {
    .tituloreceta h2{
        font-size: 12px !important;
        text-transform: capitalize !important;
    }
    .tituloreceta{
        bottom: 30px !important;
        margin-bottom: 15px !important;
    }
}*/

.tituloreceta{
    /*box-shadow: 0 4px 0 0 #f1f1f1;*/
    background-color: rgba(154,219,249,0.7);
    bottom: 40%;
    position: absolute;
    width: 100%;
}
.tituloreceta h2{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 2%;
    padding-top: 2%;
}
/**
*tips
*/
.tip-verde{
    box-shadow: 0 4px 0 0 #6ab78a;
    border-radius: 5px;
    background-color: #6fc191;
    cursor: pointer;
}
.titulo-tip{
    padding: 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}
.tip-naranjo{
    box-shadow: 0 4px 0 0 #DF764E;
    border-radius: 5px;
    background-color: #EC774B;
    cursor: pointer;
}
.tip-celeste{
    box-shadow: 0 4px 0 0 #6FC4D9;
    border-radius: 5px;
    background-color: #74CEE4;
    cursor: pointer;
}
.tip-rojo{
    box-shadow: 0 4px 0 0 #C86969;
    border-radius: 5px;
    background-color: #E16C6C;
    cursor: pointer;
}
.tip-rosado{
    box-shadow: 0 4px 0 0 #C389CE;
    border-radius: 5px;
    background-color: #C19BC8;
    cursor: pointer;
}
.tip{
    padding-top: 22px;
    /*padding-bottom: 10px;*/
    /*margin-bottom: 20px;*/
    height: 140px;
}
.alturatip{
    height: 150px;
}
.hoja{
    font-size: 30px;
    position: absolute;
    left: auto;
    overflow: hidden;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    width: 1em;
    color: #ffffff;
}
.tip-modal{
    box-shadow: 0 4px 0 0 #6ab78a;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-radius: 5px;
    background-color: #6fc191;
    /*No se puede seleccionar el texto*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.margen-modal{

    margin: 20px;
    padding: 0;
}
.triangulo{
    border-color: #6ab78a transparent transparent;
    margin-left: 20px;
    border-style: solid;
    border-width: 15px 15px 0;
    height: 0;
    position: absolute;
    width: 0;
}
.modal-header {
    border-bottom: none;
    padding: 5px;
}
.modal-footer {
    border-top: none;
    padding: 5px;
    text-align: right;
}
.texto-modal-tip{
    font-family: "montserrat";
    font-size: 17px;
    color: white;
}
.titulo-modal-tip{
    padding: 15px;
    text-align: center;
    font-family: "finger paint";
    font-size: 20px;
    color: white;
    text-transform: uppercase;
}
/**/
/**
*cuestionario
*/
.preg-cuest{
    font-family: "montserrat";
    font-size: 15px;
    color: #008AD1;
}
.hecho{
    position: absolute;
    top: 1px;
    left: 1px;
    margin: 0px;
}
/**/
/*
lideres
*/
.thead{
    background-color: #edbf47;
    border-radius: 5px;
}
.thead h1{
    font-family:"Finger Paint";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #673CB4;
    text-align: center;
}
.tbody{
    background-color: #f9f9f9;
}
.tableshadow{
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #f1f1f1;
}
/*
frutas
*/
.tamano{
    cursor: pointer;
    width: 120px;
    height: 120px;
}
.tamano-cuest{
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.selecciona{
    background-color: yellow;
}
#container-tip{
    margin-top: 30px;
}
.icon-click{
    width: 64px;
    height: 64px;
    float: right;
}.tamano100{
     width: auto;
     height: 120px;
 }
.tamano32{
    width: 32px;
    height: 32px;
}
.compra{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #673AB7;

}
.padingtop{
    padding-top: 80px;
}
.padingbot{
    padding-bottom: 100px;
}
#fotoIns{
    margin-top: 10px;
}
.margenins{
    left: -20px;
}
.alturanoticia{
    height: auto;
}
/*
tamaño imagen seccion
*/
.img-seccion{
    width: 200px;height: 200px;
}
.icon-inst{
    height: 120px;
    width: 120px;
}
.progress{
    height: 30px;/*alto de barra de progreso*/
}
.progress-bar{
    padding-top: 4px;
    font-size: 20px;
}
#barraDiploma{
    height: 50px;
}
#barraDiploma2{
    padding-top: 15px;
    font-size: 25px;
    font-family: "finger paint";
    color: #673AB7;
}
#imagenUsuario{
    cursor: pointer;
}
#descripcion-tip{
    text-align: left;
}
.img-portada{
    width:auto;
    /*border-radius: 5px;*/
}
#fotonoticia{
    border-radius: 5px;
}
#avanceFruta{
    color: #673AB7;
}
#avanceDeporte{
    color: #673AB7;
}
#avanceAcGrasa{
    color: #673AB7;
}
#avanceAlimento{
    color: #673AB7;
}
#avanceCereal{
    color: #673AB7;
}
.margenInicioSesion{
    margin-top: 50px;
}
.feedback{
    color: white;
    font-family: "finger paint";
    font-size: 14px;
    text-align: center;
}
.textofooter p{
    font-family: "montserrat";
    font-size: 20px;
    color: white;
    list-style: none;
    text-align: left;
}
.textofooter  a{
    color: white;
}
.img-border{
    border-radius: 30%;
}
/* Tooltip */
.tool + .tooltip > .tooltip-inner {
    background-color: #EC774B;
    color: #FFFFFF;
    border: 1px solid #EC774B;
    padding: 15px;
    font-size: 20px;
    font-family: "finger paint";
}
.tool + .tooltip.top > .tooltip-arrow {
    border-top: 5px solid #EC774B;
}
#tcert{
    padding-top: 12%;
}
#tnot{
    padding-top: 12%;
}
#tdes{
    padding-top: 12%;
}
.btn-naranjo{
    background-color: #e67e22;
    border-color: #e67e22;
}
@media screen and (max-width: 1280px){
    .img-seccion{
        width: 200px;height: 200px;
    }
}
@media screen and (max-width: 980px){
    .maintitulo h3{
        padding: 5%;
        font-size: 17px;
    }
    .img-seccion{
        width: 160px;height: 160px;
    }
    .fondo-portada1{
        margin-top: 30px;
    }
    .fondo-portada1 h2{
        font-size: 30px;
    }
    .fondo-portada1 p{
        font-size: 17px;
    }
    .fondo-portada2{
        margin-top: 30px;
    }
    .fondo-portada2 h2{
        font-size: 30px;
    }
    .fondo-portada2 p{
        font-size: 17px;
    }
    .fondo-portada3{
        margin-top: 30px;
    }
    .fondo-portada3 h2{
        font-size: 30px;
    }
    .fondo-portada3 p{
        font-size: 17px;
    }
    .fondo-portada4{
        margin-top: 30px;
    }
    .fondo-portada4 h2{
        font-size: 30px;
    }
    .fondo-portada4 p{
        font-size: 17px;
    }
    .li-nav {
        padding: 5px 5px !important;
    }
}
@media screen and  (max-width: 767px){
    .navbar-collapse{
        background-color: rgb(103,58,183);
    }
    .li-nav{
        border-radius: 0;
    }
    .navbar-right {
        margin-right: inherit;
    }
    .navbar-default .navbar-nav > li {
        margin-left: 0;
    }
    .navbar-toggle {
        background-color: rgb(103,58,183);
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: rgb(246,138,38);
    }
    .navbar-default .navbar-toggle {
        border-color: transparent;
    }
    .titulo-tip {
        font-size: 17px;
    }
}
@media screen and (max-width: 768px){
    .textofooter p{
        font-size: 15px;
    }
    .li-nav a{
        font-size: 16px;
    }
    .li-nav {
        padding: 5px 5px !important;
    }
    .tamano100{
        width: auto;
        height: 64px;
    }
    /*.bg-im3 {
        background: url("http://146.83.216.208/public/images/aprender360.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
    .tamano{
        width: 100px;
        height: 100px;
    }
    .img-seccion{
        width: 140px;height: 140px;
    }
    .carousel-caption p {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .fondo-portada1{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .fondo-portada2{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .fondo-portada3{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .fondo-portada4{
        margin-bottom: 10px;
        margin-top: 0;
    }
    .featurette-divider{
        margin: 10px 0;
    }
}
@media screen and (max-width: 360px){
    .progress-bar{
        font-size: 14px;
        padding-top: 2px;
    }
    .maintitulo {
        height: 85px;
    }
    .titulo5 {
        font-size: 15px;
    }
    .textofooter p{
        font-size: 13px;
    }
    .margenins{
        left: 0 !important;
    }
    /*.bg-im3 {
        background: url("http://146.83.216.208/wambo/public/images/aprender360.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }*/
    .img-seccion{
        width: 115px;height: 115px;
    }
    .tamano{
        width: 64px;
        height: 64px;
    }
    .tamano-cuest{
        width: 64px;
        height: 64px;
    }
    .icon-inst{
        width: 80px;
        height: 80px;
    }
    .fondocoins{
        width: 64px;
        height: 64px;
    }
    .puntaje-seccion{
        font-size: 15px;
        padding: 10px;
    }
    .titulo-tip {
        font-size: 17px;
        padding: 0;
    }
    .tip {
        padding-bottom: 0;
        /*padding-top: 10px;*/
        margin-bottom: 20px;
        height: 110px;
    }
    .alturatip{
        height: 120px;
    }
    .titulo-modal-tip {
        font-size: 17px;
    }
}