@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700);
@import url(http://fonts.googleapis.com/css?family=Finger+Paint);
@import url(https://fonts.googleapis.com/css?family=Chewy);
@keyframes float-b {
    0% {
        transform: translate(0px, 5px);
    }
    50% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 5px);
    }
}
@keyframes float-a {
    50% {
        transform: translate(0px, 5px);
    }
}
@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat-Regular"), url("http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400;
    src: local("Raleway"), local("Raleway-Regular"), url("http://fonts.gstatic.com/s/raleway/v10/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2") format("woff2");
    unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: "Pacifico";
    font-style: normal;
    font-weight: 400;
    src: local("Pacifico Regular"), local("Pacifico-Regular"), url("http://fonts.gstatic.com/s/pacifico/v7/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2") format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.featurette-divider {
    margin: 80px 0;
}
.featurette-heading {
    font-size:50px;
    letter-spacing: -1px;
    line-height: 1;
    color:white;
    text-align: center;
}
.lead{
    font-weight: 300;
    line-height: 1.4;
    margin-bottom: 20px;
    text-align: center;
}
/**
css vida sana
**/
.texto-modal{
    font-family: "montserrat";
    font-size: 15px;
    color: rgb(73,80,82);
}
.texto-modal-titulo{
    text-transform: uppercase;
    color: black;
    font-family: "montserrat";
}
.glyfy{
    color: rgb(0,138,209);
    font-size: 20px;
}
.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.navbar {
    margin-bottom: 0px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
#section1 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #6FC191;}
#section2 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #74CEE4;}
#section4 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #EDBF47;}
#section41 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #EC774B;}
#section42 {padding-top:50px;padding-bottom:50px;color: #fff; background-color: #009688;}
/*fin css vida sana*/

/**
css cuenta
**/
.btn-cuenta{
    box-shadow: 0 4px 0 0 #C389CE;
    font-size: 17px;
    padding: 10px 20px;
    background-color: #C389CE;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat",sans-serif;
    text-align: center;
}
.btn-cuenta:hover{
    box-shadow: 0 0 0 0 transparent !important;
    margin-bottom: -4px;
    margin-top: 4px;
}
.titulo-fruta{
    font-family: "pacifico";
    color: rgb(69,178,157);
    font-size: 24px;
}
.titulocuenta {
    font-family: "finger paint";
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}
.cuadradotarjeta1{
    box-shadow: 0 4px 0 0 #EC774B;
    background-color: #EC774B;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.descp-tarjeta{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.titulo-tarjeta{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.cuadradotarjeta2{
     box-shadow: 0 4px 0 0 #74CEE4;
     background-color: #74CEE4;
     border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.cuadradotarjeta3{
    box-shadow: 0 4px 0 0 #EDBF47;
    background-color: #EDBF47;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.cuadradotarjeta4{
    box-shadow: 0 4px 0 0 #EC774B;
    background-color: #EC774B;
    border-radius: 5px;
    padding:20px 15px 20px 15px;
}
.fondoblanco{
    background-color: rgb(69,178,157);
    padding: 5px 5px 5px 5px;
}
.borde:hover{
    box-shadow: 5px 0px 40px #EC774B;
}
/*fin css cuenta*/
/*Barra nav vida sana*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: black;
    background-color: transparent;
}
/**/
.titulo1 {
    font-family: "finger paint";
    color: #008ad1;
    font-size: 36px;
    font-weight: 700;
    line-height: 56px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
}
.titulo2 {
     font-family: "montserrat";
     color: #89b730;
     font-size: 24px;
     font-weight: 400;
     line-height: 24px;
    padding-bottom: 10px;
 }
.titulo3 {
    color: #f68a26;
    font-family: "Chewy";
    font-size: 50px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.titulo4 {
    font-family:"Finger Paint";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.tituloform {
    font-family: "finger paint";
    font-size: 16px;
    color: #008ad1;
    font-weight: 400;
    line-height: 24px;
}
.errorform{
    color: orangered;
    font-family: "finger paint";

}
.btn-cf-submit {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #008ad1;
    border-radius: 10px;
    color: #008ad1;
    font-family: "Finger Paint";
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    padding: 13px 20px;
    text-decoration: none;
    transition: all 0.3s ease-out 0s;
}
.btn-cf-submit:hover {
    background: #008ad1 none repeat scroll 0 0;
    color: #fff;
}
.footer {
    background: #495052 none repeat scroll 0 0;
    padding-bottom: 80px;
    padding-top: 90px;
    text-align: center;
}
.footer h4{
    font-family: montserrat;
    color: white;
    font-size: 17px;
    line-height: 17px;
}
.footer p{
    color: white;
    font-family: "montserrat";
    font-size: 15px;
    line-height: 22px;
}
.bg-im {
    background: url("http://localhost:8080/tesis/public/images/paisaje.jpg") no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    padding-top: 25px;
    padding-bottom: 100px;
    /*background-color: #6FC191;*/
}
.bg-im2 {
    background: url("http://localhost:8080/tesis/public/images/Middle_texture.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
    /*background-color: #6FC191;*/
}
.fondo-user {
    background: url("http://localhost:8080/tesis/public/images/colorful.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    /*background-color: #6FC191;*/
}
.bubble{
    -webkit-transform:translateZ(0);
    -moz-transform:translateZ(0);
    -ms-transform:translateZ(0);
    -o-transform:translateZ(0);
    transform:translateZ(0);
    overflow: visible;
}
.bubble.datm {
    animation: 1.8s ease-in-out 0s normal none infinite running float-b;
}
.bubble a:hover{
    opacity: 1;
    transform: scale(1.1);
}
.bubble.datm a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%231b6a81%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: auto;
    right: 0;
    transform: scaleX(-1);
}
.bubble a::after {
    bottom: -18px;
    content: "";
    display: block;
    height: 20px;
    margin: 0 20px;
    position: absolute;
    width: 30px;
}
.bubble.datm a {
    background: #1b6a81 none repeat scroll 0 0;
    width: 220px;
    margin-left: 60px;
}
.bubble a {
    border-radius: 4px;
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    transform: translateZ(0px);
    transition: transform 0.2s ease 0s;
    margin-right: 20px;
}
.bubble h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 5px;
}
.bubble a h3 {
    line-height: 20px;
    color: white;
    font-family: "finger paint";
}
.bubble a h2{
    color: white;
    font-family: "finger paint";
}
.bubble.rosado {
    animation: 1.5s ease-in-out 0s normal none infinite running float-a;
}
.bubble.bg{
    animation: 1.5s ease-in-out 0s normal none infinite running float-b;
}
.bubble.verde{
    animation: 1.5s ease-in-out 0s normal none infinite running float-a;
}
.bubble.verde a{
    background: #397C4A none repeat scroll 0 0;
    width: auto;
}
.bubble.rosado a {
    background: #dc557a none repeat scroll 0 0;
    width: auto;
}
.bubble.verde a::after {
    left: 0;
    right: auto;
    transform: scaleX(1);
}
.bubble.verde a::after {
    background: rgba(0, 0, 0, 0) url("http://localhost:8080/tesis/public/images/indice-verde.png") no-repeat scroll center top;
    left: 0;
    right: auto;
    transform: none;
}
.bubble.rosado a::after {
    left: 0;
    right: auto;
    transform: scaleX(1);
}
.bubble.rosado a::after {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns:xlink%3D%22http:%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2230px%22%20height%3D%2220px%22%20viewBox%3D%220%200%2030%2020%22%20enable-background%3D%22new%200%200%2030%2020%22%20xml:space%3D%22preserve%22%3E%3Cpolygon%20points%3D%2230%2C20%2030%2C0%200%2C0%22%20fill%3D%22%23dc557a%22%20%2F%3E%3C%2Fsvg%3E") no-repeat scroll center top;
    left: 0;
    right: auto;
    transform: none;
}
a:link, a:visited {
    color: inherit;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
}
.sesion a{
    color: #008AD1;
    opacity: 1;
    text-decoration: none;
    transition: opacity 0.2s ease 0s;
    font-size: medium;
}
.sesion p{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "montserrat";
}
.rotate {
    transition: all 0.5s ease 0s;
}
.rotate:hover {
    transform: rotate(360deg);
}
.zoom:hover{
    opacity: 1;
    transform: scale(1.1,1.1);
}
.form-control{
    font-family: "montserrat";
}
.form-group {
    margin-bottom: 0;
}
.form-control:hover{
    transition: all 0.5s ease 0s;
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
    opacity: 1;
    transform: scale(1.05,1.05);
}
.cuadradosombra{
    /*box-shadow: 0 4px 0 0 #f1f1f1;*/
    background-color: rgba(249,249,249,0.7);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}
.obligatorio{
    color: red;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}
/**
css de barra nav
**/
.navbar-default .navbar-brand {
    color: #F68A26;
    font-family: "finger paint";
    font-size: 36px;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: transparent;
    color: #F68A26;
}
.nav-link-reg{
    background-color: #74CEE4;
    font-family: 'finger paint';
}
.nav-link-ses{
    background-color: #008AD1;
    font-family: 'finger paint';
}
.li-nav{
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 20px;
}
.li-nav:focus, .li-nav:hover {
    opacity: 1;
    /*transform: scale(1.1,1.1);*/
    background-color: #EC774B;
    font-family: 'finger paint';
    color: white;
}
/**
*Cambia color texto de la barra Nav*
*/
.navbar-default .navbar-nav > li{
    margin-left: 5px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav >li > a:focus,.navbar-default .navbar-nav >li > a:hover{
    color: white;
}
.navbar-default {
    background: rgba(52, 73, 94,1.0) none repeat scroll 0 0;
    border: medium none;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 0;
}
.navbar-right {
    margin-right: 0;
}
/**/
/**css de carousel**/
.carousel {
    height: 900px;
    /*margin-bottom: 60px;*/
}
.carousel-caption {
    z-index: 10;
    padding-bottom: 500px;
}
.carousel-caption p{
    font-size: 21px;
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: "montserrat";
}
.carousel-caption h1{
    font-family: "montserrat";
}
.cc-text{
    background-color: rgba(0,0,0,0.5);
    padding-bottom: 5px;
    padding-top: 5px;
}
.fondo-portada1{
    background-color: rgb(111,193,145);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada2{
    background-color: rgb(116,206,228);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada3{
    background-color: rgb(237,191,71);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.fondo-portada4{
    background-color: rgb(236,119,75);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-top: 90px;
}
.titulo-portada{
    font-size: 50px;
    letter-spacing: -1px;
    line-height: 1;
    font-family: "finger paint";
    color: white;
}
.carousel .item {
    background-color: #777;
    height: 900px;
}
.carousel-inner > .item > img {

    left: 0;
    min-width: 100%;
    position: absolute;
    top: 0;
    /*margin: auto;
    min-width: 100%;*/
}
.carousel-control:focus, .carousel-control:hover {
    color: #fff;
    opacity: 0.9;
    outline: 0 none;
    text-decoration: none;
}
.carousel-control.left {
    color: #79D9FF;

}
.carousel-control.right {
    left: auto;
    right: 0;
    color: #79D9FF;
}
.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}
@media (max-width: 768px) {
    .carousel-caption p {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 20px;
    }
    .carousel-caption{padding-bottom: 50px}
    .carousel{height: 350px}
    .carousel-inner >.item >img{height: 350px}
    .carousel-inner >.item{height: 350px}
}
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
.btn-primary:hover{
    color: white;
    background-color: #EC774B;
    border-color: #EC774B;
}
/****/